:root {
  /* Fonts */
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Color Variables */
  --color-black: #222222;
  --color-black-800: #2a2a2a;
  --color-gray-700: #444444;
  --color-gray-600: #666666;
  --color-gray-500: #999999;
  --color-gray-400: #bbbbbb;
  --color-gray-300: #dddddd;
  --color-gray-200: #eeeeee;
  --color-gray-100: #f5f5f5;
  --color-gray-50: #fcfcfc;
  --color-white: #fafafa;

  --row-height: 6px;
  --note-height: calc(var(--row-height) * 2);
  --note-width: calc(var(--note-height) * 1.4);
}

body {
  font-family: var(--font-sans), sans-serif;
  font-weight: var(--weight-regular);
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: clamp(0.875rem, 2vw, 1rem);
  padding: 4rem 2rem 0rem 2rem;
  max-width: 960px;
  margin: 0 auto;
}

p {
  line-height: 1.7;
  margin-bottom: 1.25rem;
}

code,
pre,
.mono {
  font-family: var(--font-mono), monospace;
}
