.header {
  border-bottom: 1px solid var(--color-gray-200);
  background: var(--color-white);
}

.inner {
  height: 46px;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
